#image {
    position: absolute;
    width: 5%; /* for IE 6 */
    top:-50px;
    left:1270px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
}
h2 {
    position: absolute;
    top: -30px;
    left: 15px;
    width: 100%;
}