nav{
    display: inline;
}
#ghost-div{
    position: fixed;
    left: 200px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

@media only screen and (min-width:1359px) {
    nav{
        display: inline !important;
    }
}

@media only screen and (max-width:1358px) {
    nav{
        display: none;
    }

    .content-container{
        padding-left: 0;
    }

    #conteiner-calendar-events{
        left: 20px;
    }
}