@media only screen and (max-width:1358px)
{
    nav { display: none;}
    .content-container { padding-left: 0px}
    #conteiner-calendar-events { left: 20px;}
}

@media only screen and (max-width:1178px)
{
    .container { width: 60%;}
    #content-events {width: 40%;}
}

@media only screen and (max-width:1082px)
{
    .filtering-status {font-size: 14px;}
    .custom-month, .date-selected .custom-month, .date-selected .custom-year {font-size: 35px;}
    .custom-year { font-size: 25px;}
    .fc-calendar .fc-head > div { font-size: 22px;}
    .fc-calendar .fc-row > div > span.fc-date {font-size: 20px;}
    .calendar-points {font-size: 22px;}
    .date-selected { height: 95px;}
    .conteiner-events{top: 150px;}
}

@media only screen and (max-width:960px)
{
    .filtering-status span{ font-size: 16px;}
    .filtering-status div{ font-size: 12px;}
    .instructor-event {font-size: 12px;}
    .custom-month, .date-selected .custom-month, .date-selected .custom-year {font-size: 30px;}
}

@media only screen and (max-width:880px) {
    #content-events {
        width: 100%;
        position: absolute;
        right: -150%;
    }

    .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        position: absolute;
    }

    .fc-calendar{
        margin: 0px;
    }

    .fc-calendar .fc-body{
        padding: 0px;
    }

    .fc-calendar .fc-row{
        background: white;
    }

    .fc-calendar .fc-row > div > span.fc-weekday{
        color: #9aa5af;
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }
    .fc-calendar .fc-row > div{
        min-height: 80px;
    }

    .fc-calendar-container{
        top: 50px;
    }

    #conteiner-calendar-events {
        left: 15%;
        right: 15%;
    }

    .calendar-default{
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
    }

    .fc-calendar .fc-row > div > div a, .fc-calendar .fc-row > div > div span{
        overflow: inherit;
    }

    .calendarIcons {
        bottom: 80px;
        width: 22px;
        right: -50px;
    }
}

@media only screen and (max-width:500px) {
    .custom-month, .date-selected .custom-month, .date-selected .custom-year{
        font-size: 20px;
    }

    .custom-year{
        font-size: 16px;
    }

    .custom-header{
        height: 200px;
    }

    #month-year-calendar{
        top: 90px;
        left: 0px;
        width: 100%;
        transform: translateY(0);
        text-align: center;
    }

    #conteiner-nav-calendar{
        top: 20px;
        width: 168px;
        transform: translateY(0) translateX(-50%);
        left: 50%;
    }

    #conteiner-calendar-options{
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
    }

    .fc-calendar-container{
        top: 0;
    }
}