.content-events, .checkboxs-events, .checkboxs-events-title, .content-checkboxs-events, .events, .title-popup-add-event, .content-inputs-add-event, #date-popup-add-flight, .label-block{
    position: relative;
    float: left;
}
#content, .add-button, #main-events, #content-event-options, .content-buttons-event-options, .circle-event-status, .events img, #popup-background, .popup-add-event, #content-popup-options, .triangle-popup-options, #content-triangle, .triangle-box, .triangle-box-front, .buttons-options-popup, .buttons-options-popup img, .icon-popup, #animation-add-flight{
    position: absolute;
}

#main-events{
	/*left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)*/
}

.buttons-options-popup
{
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.content-events {
	width: 400px;
    height: 470px;
    background-color: #f6f6f6;
    margin-top: 10px;
    margin-left: 30px;
}
#content{
    width: 950px;
}
#content, .popup-add-event{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.add-button {
    font-size: 40px;
    border-radius: 30px;
    border: none;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    z-index: 15;
    background: #5BA0BA;
    color: white;
    padding-top: 1px;
    cursor: pointer;
    font-family: avant-garde;
    outline:none;
}

#main-events{
	
	width: 97%;
	height: 69%;
	/*background: red;*/
	margin-top: 63px;
	margin-left: 10px;
	
	overflow: scroll;
	overflow-x: hidden;
	
}

.events{
	margin-top: 10px;
	height: 55px;
	background: white;
	border-left: 3px solid #5BA0BA;
	width: 100%;
	/*width: -moz-calc(100% - 0px);
  width: -webkit-calc(100% - 0px);
  width: -o-calc(100% - 0px);
  width: calc(100% - 0px);*/
}

.events img
{
	width: 30px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	opacity: 0.2;
	right: 20px;
}

.event-time
{
	line-height: 55px;	
	padding: 0px 0px 0px 10px;
}

#content-event-options{
	width: 95%;
	height: 60px;
	
	margin-left: 10px;
	bottom: 10px;
}

.checkboxs-events
{
	width: 15px;
	height: 15px;
	margin-top: 2px;
	background: white;
	border: 1px solid #CCCCCC;
}

.checkboxs-events-title
{
	margin-left: 8px;
	font-size: 12px;
	color:#848484;
	margin-top: 2px;
}

.content-checkboxs-events
{
	margin-top: 8px;
	width: 100%;
}

.content-buttons-event-options
{
	width: 40px;
	height: 100%;
	right: 80px;
	cursor: pointer;
}

.content-buttons-event-options img
{
	width: 100%;
	opacity: 0.2;
}

.content-buttons-event-options div
{
	width: 100%;
	text-align: center;
	color:#A4A4A4;
	font-size: 12px;
}

.content-buttons-event-options:nth-child(4)
{
	right: 140px;
}

.circle-event-status{
	width: 10px;
	height: 10px;
	background: #fa7255;
	top: 5px;
	right:5px;
	border-radius: 7.5px;
}

#popup-background
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.popup-add-event
{
    position: absolute;
    padding: 20px;
    white-space:nowrap;
    background: #01ADEF;
    width: 550px;
    height: 600px;
    overflow: hidden;
}

#content-popup-options
{
    width: 65px;
    height: 0px;
    /*height: 130px;*/
    background: white;
    bottom: 80px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

.triangle-box-front, .triangle-box
{
    width: 0px;
    height: 0px;
    /*width: 65px;
    height: 65px;*/
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}

.triangle-box
{
    z-index: 9;
    -webkit-filter: drop-shadow(0px 10px 3px rgba(0,0,0,0.05));
    filter:         drop-shadow(0px 10px 3px rgba(0,0,0,0.05)); 
    
}

.triangle-box-front
{
    bottom: -25px;
}

.buttons-options-popup
{
    width: 0px;
    height: 0px;
    /*width: 50px;
    height: 50px;*/
    background: #87C0D6;
    border-radius: 30px;
    border: none;
    outline: none;
    z-index: 12;
    cursor: pointer;
}

.buttons-options-popup img
{
    width: 30px;
    transform: scale(0);
    
    /*width: 30px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buttons-options-popup:nth-child(2)
{
    bottom: 10px;
}

.buttons-options-popup:nth-child(3)
{
    bottom: 70px;
    
}

#triangle-box, #content-popup-options
{
    
}

#content-add-options
{
    position: absolute;
    height: 200px;
    width: 65px;
    z-index: 20;
    right: 7.5px;
    bottom: 10px;
    border-radius: 0px 0px 35px 35px; 
    cursor: pointer;
    display: none;
    
}

#close-add-options {
	right: 7.5px;
    bottom: 5px;
    
}

.title-popup-add-event{
    font-size: 25px;
    color: #FFF;
    float: left;
    width: 100%;
    margin-top: 0px;
}

.icon-popup{
    right: 20px;
    top: 26px;
    width: 40px;
    
}

/* Animation Add Flight */

#animation-add-flight
{
    left: 0px;
    right: 0px;
    height: 250px;
    bottom: 0px;
}

#plane-svg, #cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6 {
	position: absolute;
}

#plane-svg {
	width: 500px;
    left: -200px;
    top: 50px;
    transform-origin: center;
    transform: translateX(-50%) rotate(-90deg);
    
}

#cloud1 {
	width: 300px;
    bottom: -5px;
    left: 200px;
}

#cloud2 {
	width: 200px;
    bottom: -4px;
    right: -10px;
}

#cloud3 {
	width: 250px;
    bottom: 0px;
    left: 50px;
}

#cloud4 {
	width: 200px;
    bottom: -5px;
    left: -5px;
}

#cloud5 {
	width: 220px;
    bottom: 0px;
    right: -5px;
}

#cloud6 {
	width: 250px;
    bottom: 0px;
    right: 190px;
}

.content-inputs-add-event{
    
    width: 100%;
    color: white;
    height: 20px;
    margin-top: 10px;
}

.content-inputs-add-event:nth-child(4){
    margin-top: 20px;
}

#date-popup-add-flight{
    color: white;
    font-size: 18px;
    width: 100%;
}

.label-block{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*left: 600px;*/
    
}

.label-block:nth-child(2){
   left: 120px;
    /*left: 600px;*/
}

.label-block select{
    width: 100px;
    height: 25px;
    border: none;
    outline: none;
    color: #848484;
    padding: 5px;
}

.label-block input{
    width: 220px;
    border: none;
    outline: none;
    color: #848484;
    padding: 5px;
}

#sun-div{
    position: absolute;
    width: 80px;
    top: 75px;
    height: 80px;
    border-radius: 50%;
    right: 50px;
    background-color: yellow;
}